.content {
    padding: 20px 15px 20px 20px;
}
.content h2{
    font-size: 2em;
}
.content p{
    line-height: 1.5;
    font-size: 18px;

}
.colored {
    color: var(--primary-color);
}

section {
    margin: 30px auto;
}

.achivements{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--accent-04);
    padding: 20px 30px;
    gap: 10px;
    border-radius: 10px;
    
}
.achivements h3 {
    font-size: 2.3em;
}
.achivements ion-icon{
    margin-bottom: -5px;
    color: var(--primary-color);
    font-size: 0.9em;
}
.achivements p{
    color: var(--accent-02);
    line-height: 1.2;
    font: 15px;
}


.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: var(--accent-02);
}

.skills > div {
    background-color: var(--accent-04);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: var(--accent-04) 2px solid;
    transition: border-color .5s;
    cursor: pointer;
}

.skills > div:hover{
    border-color: var(--primary-color);
}
