.content {
    padding: 20px 15px 20px 20px;
}
.content h2{
    font-size: 2em;
}

.content .warpper{
    overflow: auto;
    max-height: 700px;
    padding-right: 10px;
    scroll-behavior: smooth;
}  

.content ::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.content ::-webkit-scrollbar-track{
    background: var(--accent-04);
}

.content ::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 5px;
}

.content p{
    line-height: 1.5;
    font-size: 18px;

}
.colored {
    color: var(--primary-color);
}

section {
    margin: 30px auto;
}

.achivements{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--accent-04);
    padding: 20px 30px;
    gap: 10px;
    border-radius: 10px;
    
}
.achivements h3 {
    font-size: 2.3em;
}
.achivements ion-icon{
    margin-bottom: -5px;
    color: var(--primary-color);
    font-size: 0.9em;
}
.achivements p{
    color: var(--accent-02);
    line-height: 1.2;
    font: 15px;
}


.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: var(--accent-02);
}

.skills > div {
    background-color: var(--accent-04);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: var(--accent-04) 2px solid;
    transition: border-color .5s; 
    cursor: pointer;
}

.skills > div:hover{
    border-color: var(--primary-color);
}

.skills ion-icon{
    color: var(--primary-color);
    font-size: 32px;
}

.skills .circle {
    position: relative;
    width: 60px;
    height: 60px;
    margin: auto;
    background: conic-gradient(from 0deg, 
                var(--primary-color) 0%, 
                var(--primary-color) 0% var(--percent),
                var(--accent-03) var(--percent));
    border-radius: 50%;
    margin-bottom: 5px;
}

.skills .circle::before {
    content: "";
    position: absolute;
    inset: 8px;
    background-color: var(--accent-04);
    border-radius: 50%;
}

.skills .circle h4{
    position: relative;
    text-align: center;
    font-size: 1.2em;
    line-height: 3;
}

.skills div:nth-child(7){
    background-color: inherit;
}

.skills .progress-bar p{
    display: flex;
    justify-content: space-between;
}

.skills progress{
    width: 100%;
    appearance: none;
    height: 10px;
}
.skills progress::-webkit-progress-bar{
    border-radius: 10px;
    background-color: var(--accent-04);
}
.skills progress::-webkit-progress-value{
    border-radius: 10px;
    background-color: var(--primary-color);
}

.contribution{
    display: grid;
    grid-template-columns: 1fr;
    border: var(--accent-04) 3px solid;
    border-radius: 10px;
    width: 100%;
}
.contribution activity-graph{
    padding: 10px 20px;
    color: var(--accent-02);
    --activity-graph-text-color: var(--accent-04);
    --activity-graph-rounded: 2px;
    --activity-graph-level-0-bg: #0E4545;
    --activity-graph-level-1-bg: #006C69;
    --activity-graph-level-2-bg: #26A0A7;
    --activity-graph-level-3-bg: #25A0A7;
    --activity-graph-level-4-bg: #37C9D5;
}

.contribution > div{
    overflow: auto;
}
.contribution figure{
    overflow: hidden;
}
.contribution table{
    border-spacing: 2px;
    
}