.content {
    padding: 20px 15px 20px 20px;
}
.content h2{
    font-size: 2em;
}

.content .warpper{
    overflow: auto;
    max-height: 700px;
    padding-right: 10px;
    scroll-behavior: smooth;
}  

.content ::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

.content ::-webkit-scrollbar-track{
    background: var(--accent-04);
}

.content ::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 5px;
}

.content p{
    line-height: 1.5;
    font-size: 18px;

}
.colored {
    color: var(--primary-color);
}

section {
    margin: 30px auto;
}

/* .achivements{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--accent-04);
    padding: 20px 30px;
    gap: 10px;
    border-radius: 10px;
    
}
.achivements h3 {
    font-size: 2.3em;
}
.achivements ion-icon{
    margin-bottom: -5px;
    color: var(--primary-color);
    font-size: 0.9em;
}
.achivements p{
    color: var(--accent-02);
    line-height: 1.2;
    font: 15px;
} */

.content .skillName{
    padding-top: 19px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    color: var(--accent-02);
}

.skills > div {
    background-color: var(--accent-04);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: var(--accent-04) 2px solid;
    transition: border-color .5s; 
    cursor: pointer;
}

.skills > div:hover{
    border-color: var(--primary-color);
}

.skills img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}


.skills div:nth-child(7) {
    background-color: inherit;
    box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--primary-color);
    }
    to {
        box-shadow: 0 0 20px var(--primary-color), 0 0 40px var(--primary-color);
    }
}



